<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chilli Mark</title>
	<link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" />
</head>
<body>
	<h1>Chilli Mark</h1>
	<form method="POST", autocomplete="off" enctype=multipart/form-data>
		<input type="file" name="file" id="file-input"/>
		<textarea name="names" id="names" placeholder="Enter your student names in the same order as the scanned pages"></textarea>
		<textarea name="key" id="key" placeholder="Enter the answer key"></textarea>
		<button type="submit">Mark Exam</button>

	
	</form>

	

</body>
</html>